.font-p-grd{
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.125;
  font-family: 'Poppins', sans-serif;
}

.font-p-med{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Poppins';
}

.font-p-peq{

}

.font-r-peq{

}

.font-r-peq-bold{

}
